<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16511170615-rd3cj3qps828fa0ripgjgoe9oslkdb7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16511170615-rd3cj3qps828fa0ripgjgoe9oslkdb7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCYMrrUJFe2WbyAsn_mGO-rmCU4pAQTuBU</string>
	<key>GCM_SENDER_ID</key>
	<string>16511170615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotinafit.rotinafit</string>
	<key>PROJECT_ID</key>
	<string>rotinafit-69e71</string>
	<key>STORAGE_BUCKET</key>
	<string>rotinafit-69e71.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16511170615:ios:a46a1d1d15f57e64abe7b2</string>
</dict>
</plist>